<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FarmStack</title>

    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700,800|Roboto:400,500,700" rel="stylesheet">

    <link rel="stylesheet" href="/static/css/theme.css">
    <link rel="stylesheet" href="/static/css/external-styles.css">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
   <div class="loader-container">
        <div class="loader-itself">
            <i class="fas fa-circle-notch fa-spin"></i>
        </div>
        <div class="loader-message">
            <p>Loading</p>
        </div>
    </div>
    <nav class="fs-navbar"></nav>
    <div class="main-wrapper d-flex">
        <div class="fs-sidebar">
            <div class="fs-sidebar-top-left-container">
                <div class="logo-data">
                    <img src="/static/images/logo.png" />
                </div>
            </div>
            <ul class="fs-sidebar-list">
                <li class="fs-sidebar-list-item">
                    <a href="/home">
                        <span class="list-item-icon"><i class="fas fa-home"></i></span>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li class="fs-sidebar-list-item active">
                    <a id="consumer_call" href="/status">
                        <span class="list-item-icon"><i class="fas fa-info-circle"></i></span>
                        <span>Status</span>
                    </a>
                </li>
                <li class="fs-sidebar-list-item">
                    <a href="/log">
                        <span class="list-item-icon"><i class="fas fa-file-alt"></i></span>
                        <span>Logs</span>
                    </a>
                </li>
            </ul>
        </div>
        <!-- End Sidebar-->
        <!-- Start Content -->
        <div class="fs-main-content">
            <div class="content-wrapper logs-container">
        <div class="card">
            <div class="card-body">
                <div class="page-title">
                    <h5 class="title">Sync History</h5>
                    <button type="button" class="btn btn-primary-2 btn-icon">
                        <span class="btn-inner--icon"><i class="fas fa-sync-alt"></i></span>
                        <span class="btn-inner--text"><a href="/log/">Sync Now</a></span>
                    </button>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body logs-content-wrapper">
                <div class="logs-sync-details">
                    <div class="detail-item source-details">
                        <div class="data-item">
                            <div class="data-item-title"><strong>Last Sync: </strong></div>
                            <div class="data-item-details">23-06-2021</div>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <p><strong>Log file: </strong>fs-configs/usage-control-example/provider/logs/karaf.log</p>
                </div>
                <div class="data-item-title"><strong>Provider Logs: </strong></div>
                <p class="logs-json-content">
                    {% for log in provider_logs_top_100 %}
                        {{log}}
                        </br>
                    {% endfor %}
                </p>
                <div class="text-center">
                    <p><strong>Log file: </strong>fs-configs/usage-control-example/consumer/logs/karaf.log</p>
                </div>
                <div class="data-item-title"><strong>Consumer Logs: </strong></div>
                <p class="logs-json-content">
                    {% for log in consumer_logs_top_100 %}
                        {{log}}
                        </br>
                    {% endfor %}
                </p>
            </div>
        </div>
    </div>
        </div>
            <!-- content end-->
    </div>
    
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/popper.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <script src="/static/js/fontawesome.js"></script>
    <script src="/static/js/app.js"></script>
</body>
</html>