<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Farmstack UI 3</title>

    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700,800|Roboto:400,500,700" rel="stylesheet">

    <link rel="stylesheet" href="/static/css/theme.css">
    <link rel="stylesheet" href="/static/css/external-styles.css">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    
    <div class="content-wrapper logs-container">
        <div class="card">
            <div class="card-body">
                <div class="page-title">
                    <h5 class="title">Sync History</h5>
                    <button type="button" class="btn btn-primary-2 btn-icon">
                        <span class="btn-inner--icon"><i class="fas fa-sync-alt"></i></span>
                        <span class="btn-inner--text">Sync Now</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body logs-content-wrapper">
                <div class="logs-sync-details">
                    <div class="detail-item source-details">
                        <div class="data-item">
                            <div class="data-item-title"><strong>Last Sync: </strong></div>
                            <div class="data-item-details">23-06-2021</div>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <p><strong>Log file: </strong>fs-configs/usage-control-example/provider/logs/karaf.log</p>
                </div>
                <div class="data-item-title"><strong>Provider Logs: </strong></div>
                <p class="logs-json-content">
                    {% for log in provider_logs_top_100 %}
                        {{log}}
                        </br>
                        </br>
                    {% endfor %}
                </p>
                <div class="text-center">
                    <p><strong>Log file: </strong>fs-configs/usage-control-example/consumer/logs/karaf.log</p>
                </div>
                <div class="data-item-title"><strong>Consumer Logs: </strong></div>
                <p class="logs-json-content">
                    {% for log in consumer_logs_top_100 %}
                        {{log}}
                        </br>
                        </br>
                    {% endfor %}
                </p>
            </div>
        </div>
    </div>

    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/popper.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <script src="/static/js/fontawesome.js"></script>
    <script src="/static/js/app.js"></script>
</body>
</html>