<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FarmStack</title>

    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700,800|Roboto:400,500,700" rel="stylesheet">

    <link rel="stylesheet" href="/static/css/theme.css">
    <link rel="stylesheet" href="/static/css/external-styles.css">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

    <div class="loader-container">
        <div class="loader-itself">
            <i class="fas fa-circle-notch fa-spin"></i>
        </div>
        <div class="loader-message">
            <p>Setting up connectors...</p>
        </div>
    </div>
    <nav class="fs-navbar"></nav>
    <div class="main-wrapper d-flex">
        <div class="fs-sidebar">
            <div class="fs-sidebar-top-left-container">
                <div class="logo-data">
                    <img src="/static/images/logo.png" />
                </div>
            </div>
            <ul class="fs-sidebar-list">
                <li class="fs-sidebar-list-item">
                    <a href="/home">
                        <span class="list-item-icon"><i class="fas fa-home"></i></span>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li class="fs-sidebar-list-item active">
                    <a id="consumer_call" href="/status">
                        <span class="list-item-icon"><i class="fas fa-info-circle"></i></span>
                        <span>Status</span>
                    </a>
                </li>
                <li class="fs-sidebar-list-item">
                    <a href="/log">
                        <span class="list-item-icon"><i class="fas fa-file-alt"></i></span>
                        <span>Logs</span>
                    </a>
                </li>
            </ul>
        </div>
        <!-- End Sidebar-->
        <!-- Start Content -->
        <div class="fs-main-content">
            <div class="content-wrapper source-title page-title">
        <h2 class="title">Sources</h2>
        <button type="button" class="btn btn-primary-2 btn-icon">
            <span class="btn-inner--icon"><i class="fas fa-plus"></i></span>
            <span class="btn-inner--text"><a href="/home/">New Connector</a></span>
        </button>
    </div>

    <div class="content-wrapper source-container">
        <div class="card">
            <div class="card-body">
                <div class="card-table-container">
                    <table class="table table-hover table-cards align-items-center">
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Status</th>
                                <th scope="col">Connector Type</th>
                                <th scope="col">Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for connector in connectors %}
                                <tr class="bg-white">
                                    <th scope="row">
                                        <div class="media align-items-center">
                                            {% comment %} <img src="" class="avatar avatar-sm mr-3"> {% endcomment %}
                                            <div class="media-body">
                                                <h6 class="h5 font-weight-normal mb-0">{{connector.name}}</h6>
                                            </div>
                                        </div>
                                    </th>
                                    <td>{{connector.status}}</td>
                                    <td>{{connector.connector_type}}</td>
                                    <td>
                                        <a href="/connector_api/delete/{{connector.connector_type}}/{{connector.id}}/" data-toggle="tooltip" title="Delete {{connector.connector_type}} {{connector.name}}"><i class="fs-link fas fa-trash"></i></a>
                                    </td>
                                </tr>
                                <tr class="table-divider"></tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <div class="card-table-container">
                        <a class="fs-link" id="consumer_href" href="">View transferred data</a>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>
</div>
    
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/popper.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <script src="/static/js/fontawesome.js"></script>
    <script src="/static/js/app.js"></script>
</body>
</html>