.provider__stack__container {
    display: flex;
    justify-content: space-between;
    max-width: 500px;
    margin: 0 auto;
    border-bottom: 1px solid lightgray;
    position: relative;
    padding-bottom: 60px;
}

.consumer__stack__container {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.provider__img__container {
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 10px;
    min-height: 65px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.provider__img__container > img {
    width: 45px;
}

.provider__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.provider__content .ui.medium.header:last-of-type {
    margin-bottom: 0;
}

.provider__content > p:last-of-type {
    color: #aaa;
}

.provider__stack__container > .provider__content::after {
    content: "";
    position: absolute;
    bottom: -60px;
    border-right: 1px solid lightgray;
    height: 60px;
}

.consumer__stack__container > .provider__content::before {
    content: "";
    position: absolute;
    border-right: 1px solid lightgray;
    height: 60px;
    top: -60px;
}

.provider__stack__container > .provider__content:first-child {
    transform: translateX(-50%);
}

.provider__stack__container > .provider__content:last-child {
    transform: translateX(50%);
}