
.card-table-container {
    overflow: auto;
}
.page-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.page-title .title {
    margin-bottom: 0;
}
.fs-main-content{
    margin-left:5%;
    margin-right: 5%;
}

.fs-tab {
    margin-top : 2%
}

/* Source List Page CSS Starts */
.source-title .page-title .title {
    line-height: 1.5;
}
/* Source List Page CSS Ends */

/* Connection Page CSS Starts */
.detail-item {
    border-bottom: 1px solid #ccc;
    border-left: .5rem solid var(--primary);
    padding: .3rem;
    margin-bottom: 1rem;
    border-radius: 10px;
}
.detail-item h6 {
    text-transform: uppercase;
    font-size: 1rem;
}
.detail-item .data-item {
    border: 1px solid #eee;
    padding: 5px;
    margin-bottom: 5px;
    background-color: #eee;
}
.connection-container .nav-pills .nav-link {
    padding: 0;
    border: none;
}
.connection-container .nav-link span {
    border: 1px solid var(--primary);
    padding: 5px 10px;
    border-radius: 20px;
}
.connection-container .nav-link.active span {
    background-color: var(--primary);
    color: #fff;
}
/* Connection Page CSS Ends */

/* Logs Page CSS Starts */
.logs-container .card-body {
    padding: 1rem 1.2rem;
}
.logs-content-wrapper {
    background-color: #efefef;
}
.logs-json-content {
    padding: 1rem 2rem;
}
/* Logs Page CSS Ends */

/* Layout CSS Starts */
.fs-navbar {
    padding: 1rem;
    background-color: var(--primary);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    min-height: 3.5rem;
}
.fs-sidebar {
    background-color: var(--primary);
    width: 15rem;
    color: #fff;
}
.fs-sidebar-top-left-container {
    display: flex;
    justify-content: space-between;
    padding: .5rem;
    align-items: center;
}
.logo-data {
    display: flex;
    align-items: center;
}
.logo-data h5 {
    margin-bottom: 0;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.2rem;
}
.fs-sidebar-list {
    padding: .5rem 0 .5rem .5rem;
}
.fs-sidebar-list-item {
    list-style: none;
    padding: .5rem 0;
    font-size: 1rem;
}
.fs-sidebar-list-item.active {
    background-color: #fff;
    border-radius: 20px 0 0 20px;
}
.fs-sidebar-list-item.active a {
    color: var(--primary);
}
.fs-sidebar-list-item a {
    color: #fff;
    text-decoration: none;
}
.list-item-icon {
    margin: 0 10px;
}
.fs-main-content {
    padding-top: 3.5rem;
    width: calc(100% - 15rem);
}
.main-wrapper {
    min-height: 100vh;
}
/* Layout CSS Ends */


@media screen and (max-width: 640px) {
    .page-title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .page-title .btn {
        width: 100%;
    }
}