version: '3'
services:

  # The core platform, mounts docker control socket and route definition into the image
  provider-core:
    image: fraunhoferaisec/trusted-connector-core:${EXAMPLE_TAG:-4.0.0}
    tty: true
    stdin_open: true
    volumes:
      - ./logs/provider/:/root/log/
      - /var/run/docker.sock:/var/run/docker.sock
      - ../../fs-assets/sample-certificates/provider-keystore.p12:/root/etc/provider-keystore.p12
      - ../../fs-assets/sample-certificates/truststore.p12:/root/etc/truststore.p12
      - ./example-provider-routes.xml:/root/deploy/example-provider-routes.xml
      - ../../fs-assets/sample-data/sample_farmer_data1.csv:/root/deploy/sample_data1.csv
      - ../../fs-assets/sample-data/sample_farmer_data2.csv:/root/deploy/sample_data2.csv
    
    # Uncomment to run the provider & consumer nodes on separate server 
    # replace x.x.x.x with the consumer ip address
    # extra_hosts:
    #  - "consumer-core:x.x.x.x"

    ports:
      - 8989:8989
    
    # Using two networks ids-wide and provider-internal for external comunication and internal communication respectively
    networks:
      - ids-wide
      - provider-internal

networks:
  ids-wide:
    driver: bridge
  provider-internal:
    driver: bridge
