{% extends "base.html" %}

{% block content %}
        <div class="fs-main-content container">

            <div class="table__container">
                <div class="add__btnContainer mb-3 text-right">
                    <button type="button" class="btn btn-sm btn-secondary btn-icon mr-4 rounded-corners" onclick="location.reload();">
                        <span class="btn-inner--text">Refresh</span>
                        <span class="btn-inner--icon"><i class="fa fa-sync"></i></span>
                    </button>
                    <button type="button" class="btn btn-sm btn-primary-2 btn-icon rounded-corners" data-toggle="modal" data-target="#modal_1" onclick="changeTab(); observeType()">
                        <span class="btn-inner--text">Add New</span>
                        <span class="btn-inner--icon"><i class="fas fa-plus"></i></span>
                    </button>
                </div>
                {% include "connector_table.html" %}
                
                <!-- Modal -->
                <div class="modal fade" id="modal_1" tabindex="-1" role="dialog" aria-labelledby="modal_1" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <button data-dismiss="modal" type="button" class="btn btn-primary btn-sm btn-icon-only rounded-circle fs__modal__closeIcon">
                                <span class="btn-inner--icon"><i class="fas fa-times"></i></span>
                            </button>
                            <div class="modal-body">
                                <div class="configuration__header text-center text-uppercase mb-4">
                                    <h4>Configure a connector</h4>
                                </div>
                                {% include "modal/provider/provider_base.html" %}

                                {% include "modal/consumer/consumer_base.html" %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
{% endblock content %}