<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>MongoDB Connector</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="container mt-4">
      <h1 class="text-center">MongoDB Connector</h1>
      <form
        class="d-grid gap-3"
        action="/configure"
        method="POST"
        id="configurationForm"
      >
        <div>
          <div class="form-group col m-3">
            <label for="url" class="form-label"
              >Paste Your Connection String (SRV or Standard )</label
            >
            <input
              name="url"
              type="text"
              class="form-control"
              value="<%= config.db.url %>"
              placeholder="mongodb+srv://[User]:[Password]@[connection url]/[Database]?retryWrites=true&w=majority"
            />
            <small>
              For Server,Example: "mongodb+srv://[User]:[Password]@[connection
              url]/[Database]?retryWrites=true&w=majority"
            </small>
            <br />
            <small>
              For localhost,Example: "mongodb://[User]:[Password]@[connection
              url]/[Database]"
            </small>
          </div>
          <div class="row">
            <div class="form-group col m-3">
              <label for="database" class="form-label">Database Name</label>
              <input
                name="database"
                type="text"
                class="form-control"
                placeholder="Database Name"
                value="<%= config.db.database %>"
              />
            </div>
            <div class="form-group col m-3">
              <label for="collection" class="form-label">Collection Name</label>
              <input
                name="collection"
                type="text"
                class="form-control"
                placeholder="Collection Name"
                value="<%= config.db.collection %>"
              />
            </div>
          </div>
          <div class="form-group col-12 m-3">
            <label for="query" class="form-label"
              >Enter MongoDB Find Query</label
            >
            <textarea
              name="query"
              class="form-control"
              placeholder="SELECT * FROM example_table"
              rows="3"
            >
<%= config.query.statement %></textarea
            >
          </div>
        </div>
        <div class="col-auto">
          <button type="submit" class="btn btn-primary mb-3 float-end">
            Save Configuration
          </button>
          <button
            type="button"
            class="btn btn-secondary mb-3 mx-3 float-end"
            onclick="testConnection_server()"
          >
            Test Configuration
          </button>
          <span
            id="connection-status-server"
            class="text-success float-end my-auto"
          ></span>
          <span id="connection-failed" class="text-danger float-end invisible"
            >❌ Connection Failed</span
          >
        </div>
      </form>
      <script>
        async function testConnection_server() {
          try {
            let connStatus = document.getElementById(
              "connection-status-server"
            );
            connStatus.innerHTML = "";
            let myForm = document.getElementById("configurationForm");
            let formData = JSON.stringify(
              Object.fromEntries(new FormData(myForm))
            );
            const response = await fetch(`/test_configuration`, {
              method: "POST",
              headers: {
                "Content-Type": "application/json",
              },
              body: formData,
            });
            const json = await response.json();
            console.log(json);
            if (json.success) {
              connStatus.innerHTML =
                "Checked Your Connection String! ✔️ Connection Successful";
            } else {
              connStatus.innerHTML =
                "Checked Your Connection String! ❌ Connection Failed";
            }
          } catch (err) {
            console.log(err);
          }
        }
      </script>
    </div>
  </body>
</html>
