.fs-component-container {
    width: 40vh;
    padding: 10px;
    text-align: center;
    margin: 0 auto;
}

.fs-component-container > .header {
    font-size: 1em !important;
}

.fs-component-container > svg {
    width: 64px;
    fill: #38b000;
}

.step-wrapper {
    display: flex;
}

.step-left {
    margin-right: 10em;
    width: 10vw;
}

.step-right {
    word-break: break-word;
}

.step-right span:first-child {
    margin-right: .3em;
}

.step-right.success {
    color: #38b000;
}

.step-right.error {
    color: red;
}

.adv-set-trigger {
    width: fit-content;
}

.parallel-decrement, .parallel-increment {
    border: 1px solid lightgray;
    padding: 0px 2px;
    border-radius: 50%;
}

.parallel-decrement > i, .parallel-increment > i {
    margin: 0;
    width: auto;
}

.parallel-value {
    padding: 8px;
    margin-right: 5px;
}