.fs-configuration-container{
    padding: 1em 0;
}

.step-change-btn-wrapper {
    margin-top: 1em;
    display: flex;
    justify-content: flex-end;
}

.component-config-header-img {
    position: absolute;
    border: 1px solid lightgray;
    padding: 10px;
    top: 10px;
    left: 10px;
    border-radius: 10px;
}

.component-config-header-img > img {
    width: 20px;
}

.component-config-header > .header, .component-config-header > .meta {
    margin-left: 50px;
}