.select-spreadsheet-group {
    display: flex;
    align-items: center;
}

.ui .select-spreadsheet-group > select {
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.spreadsheet-refresh {
    padding: 5px;
    border: 1px solid lightgray;
    height: 37.5px;
    width: 37.5px;
    text-align: center;
    position: relative;
    border-radius: 5px;
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.spreadsheet-refresh > .icon {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}