.fs-flow-component {
    padding: 1em 0;
}

.fs-flow-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fs-flow-content p {
    margin: .5em 0;
}

.card.h_100_percent .content:last-child {
    flex-grow: 25;
    background-color: #eee;
}

.fs-flow-component .rodal-dialog {
    width: 80vw !important;
    height: 100vh !important;
}

.fs-flow-component .rodal-close {
    top: 6px !important;
    right: 8px !important;
}