{% block consumer_modal %}
<div class="type__Select connection-container">

    {% include "./tab_bar.html" %}
    
    <form class="d-grid gap-3" action="/start_connector/" method="POST" id="configurationForm">

    {% block tab_content %}
        <div class="tab-content" id="myTabContent">

            {% block tab1 %}
                <div class="tab-pane fade show active" id="init" role="tabpanel" aria-labelledby="init-tab">
                    <div class="card">
                        <h5 class="mb-0 type__Display card-header">Set up a consumer</h5>
                        <div class="card-body">
                            <div class="type__details__container">
                            <div class="form-group">
                                {% comment %} <label for="appName2">Select Consumer App</label> {% endcomment %}
                                <div class="con-selector mt-4">
                                    {% for connector_app in connector_apps %}
                                        <input id="{{ connector_app.name }}" type="radio" name="connector" value="{{ connector_app.name }}"/>
                                        <label class="connector-label {{ connector_app.name }}" for="{{ connector_app.name }}" style="background-image: url(/static/images/{{ connector_app.icon }});">
                                            <br><br><br>{{ connector_app.display_name }}</label>
                                    {% endfor %}
                                </div>
                            </div>
                                {% comment %} <div class="form-group">
                                    <label for="typeName">Consumer Name</label>
                                    <input type="text" class="form-control" placeholder="Name" name="name">
                                </div> {% endcomment %}
                                {% comment %} <div class="form-group">
                                    <label for="connector">Connector App</label>
                                    <select class="selectpicker type__Select" title="Select" name="connector" onchange="observeConnector(this.value)">
                                        <option value="" disabled>Select</option>
                                        {% for connector_app in connector_apps %}
                                            <option value="{{ connector_app.name }}">{{ connector_app.display_name }}</option>
                                        {% endfor %}
                                    </select>
                                </div> {% endcomment %}
                                {% comment %} <div class="form-group">
                                    <label for="dockerUrl">Dockerhub URL</label>
                                    <input id="dockerUrl" type="text" class="form-control" placeholder="URL" name="dockerUrl" readonly>
                                </div> {% endcomment %}
                            </div>
                        </div>
                        <div class="d-flex justify-content-end btn-container-right card-footer">
                            <button type="button" class="btn btn-primary-2 rounded-corners" onclick="changeTab('configure')">Next</button>
                        </div>
                    </div>
                </div>
            {% endblock tab1 %}
            
            {% block tab2 %}
                <div class="tab-pane fade" id="configure" role="tabpanel" aria-labelledby="configure-tab">
                    <div class="card">
                        <h5 class="mb-0 type__Display card-header">Google Sheet Configuration</h5>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="sheet_title" class="form-label">Sheet Title</label>
                                <input name="sheet_title" type="text" class="form-control" placeholder="Sheet Title" value="FS Video Library Demo">
                            </div>

                            <div class="form-group">
                                <label for="email" class="form-label">Google Email</label>
                                <input name="email" type="text" class="form-control" placeholder="name@gmail.com" value="">
                            </div>
                        </div>
                        <div class="d-flex justify-content-end btn-container-right card-footer">
                            <button type="button" class="btn btn-secondary mr-2 rounded-corners" onclick="changeTab('init')">Previous</button>
                            <button type="button" class="btn btn-primary-2 ml-2 rounded-corners" onclick="changeTab('connect')">Next</button>
                        </div>
                    </div>
                </div>
            {% endblock tab2 %}
            
            {% block tab3 %}
                <div class="tab-pane fade" id="connect" role="tabpanel" aria-labelledby="connect-tab">
                    <div class="card">
                        <h5 class="mb-0 type__Display card-header">Connect to a Provider</h5>
                        <div class="card-body">
                            <div class="form-group">
                                    <label for="appName">Available Providers</label>
                                    <select class="selectpicker type__Select" title="Select" name="provider" onchange="observeConnector(this.value)">
                                        <option value="" disabled>Select</option>
                                        <option value="Video List Provider (DG - Coco)">Video List Provider (DG - Coco)</option>
                                    </select>
                                </div>
                        </div>
                        <div class="d-flex justify-content-end btn-container-right card-footer">
                            <button type="button" class="btn btn-secondary mr-2 rounded-corners" onclick="changeTab('configure')">Previous</button>
                            <button type="submit" class="btn btn-primary-2 ml-2 rounded-corners" >Finish</button>
                        </div>
                    </div>
                </div>
            {% endblock tab3 %}
            
        </div>
        {% csrf_token %}
    {% endblock tab_content %}
    </form>
</div>
{% endblock consumer_modal %}