#data {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #data td, #data thead {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #data tr:nth-child(even){background-color: #f2f2f2;}
  
  #data tr:hover {background-color: #ddd;}
  
  #data thead {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #D9B128;
    color: white;
  }